*{
  box-sizing: border-box;
}

.App {
  text-align: center;
  margin: 2rem auto 0;
  width: 100%;
  font-family: "Lucida Grande", sans-serif;
}


/* LAYOUT */

.f-layout{
  display: flex;
  width: 795px;
  height: 720px;
  margin: 0 auto 10rem;
}

.f-layout__heures{
  width: 75px;
  border-right: thin solid #A7A7A7;
}

.f-layout__conteneur{
  flex: 0 0 1;
  width: 620px;
  padding: 0 10px;
  background-color: #ECECEC;
}

.f-layout__conteneur__inner{
  position: relative;
  min-width: 100%;
  min-height: 100%;
}


/* ALERT */

.f-layout__conteneur__alert{
  position: relative;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-conteneur__alert{
  margin: 0;
  padding: 0;
  font-size: 0.75rem;
  color: #4b6eab;
  text-align: center;
}

/*  HORAIRES */

.f-layout__horaires{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: calc(100% + 0.45rem);
  text-align: right;
  padding: 0;
  margin: 0 10px 0 0;
  margin-top: -0.25rem;
}

.f-layout__horaires li{
  list-style: none;
  font-weight: bold;
  /* line-height: 30px; */
}
.f-heures-detail-half{
  font-size: 0.6rem;
  font-weight: normal;
  color: #A7A7A7;
}
.f-heures-detail span{
  margin-left:0.4rem;
  font-size: 0.6rem;
  font-weight: normal;
  color: #A7A7A7;
}
.f-heures-detail{
  color: #686868;
  font-size: 0.75rem;
}
.f-heures-detail-half span{
  display: none;
}

/* PAVE EVENT */
.f-event-block-out,
.f-event-block{
  position: absolute;
  border: thin solid #A7A7A7;
  border-left: 4px #4b6eab solid;
  text-align: left;
  padding: 6px 10px;
  overflow: scroll;
}

.f-event-block{
  background-color: #fff;
}

.f-event-block:hover{
  min-height: 50px!important;
  z-index: 1;
}

.f-event-block-out{
  background-color: #A7A7A7;
}
.f-event-block-out:hover{
  background-color: #fff;
}

.f-event-block__item{
  margin: 0;
  padding: 0;
  font-size: 0.75rem;
  color: #4b6eab;
}
.f-event-block__location{
  margin: 0;
  padding: 0;
  font-size: 0.6rem;
  color: #A7A7A7;
}